<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Account Management</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <h1>Account Management</h1>

  <!-- Welcome -->
  <h2>Welcome, <%= accountData.account_firstname %>!</h2>

  <!-- Link update -->
  <a href="/account/update/<%= accountData.account_id %>">Update Account Info</a>

  <!-- link logout-->
  <p><a href="/account/logout">Logout</a></p>

  <!-- link inventory -->
  <% if (accountData.account_type === "Employee" || accountData.account_type === "Admin") { %>
    <h3>Inventory Management</h3>
    <p><a href="/inv">Go to Inventory Management</a></p>
  <% } %>
</body>
</html>
