<h1>Change Password</h1>

<% if (notice && notice.length > 0) { %>
  <p class="notice"><%= notice %></p>
<% } %>

<% if (errors && errors.length > 0) { %>
  <ul class="errors">
    <% errors.forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>

<form action="/account/update-password" id="formUpdatePassword" method="POST">
  <input type="hidden" name="account_id" value="<%= account ? account.account_id : '' %>" />

  <label for="password">New Password:</label>
  <input type="password" id="password" name="password" required />

  <label for="confirm_password">Confirm New Password:</label>
  <input type="password" id="confirm_password" name="confirm_password" required />

  <button type="submit">Update Password</button>
</form>




