<header id="top-header">
  <span class="CSE Motors">
    <a href="/" title="Return to home page">CSE Motors</a>
  </span>

  <div id="tools">
    <% if (loggedIn) { %>
      <a href="/account" title="Go to Account Management">Welcome <%= firstname %></a>
      <a href="/account/logout" title="Logout">Logout</a>
    <% } else { %>
      <a href="/account/login" title="Click to log in">My Account</a>
    <% } %>
  </div>
</header>
