
  <h1><%= title %></h1>

  <form id="classificationForm">
  <label for="classificationList">Choose Classification:</label>
  <%- classificationList %>
  <button type="submit">Go</button>
</form>

<script>
  const form = document.getElementById('classificationForm')
  form.addEventListener('submit', function (event) {
    event.preventDefault()

    const select = document.getElementById('classificationList')
    const classificationId = select.value

    if (classificationId) {
      window.location.href = `/inv/type/${classificationId}`
    }
  })
</script>

  <section id="inventory-display">
    <%- grid %>
  </section>

  <% if (typeof errors !== 'undefined' && errors) { %>
    <div class="errors"><%= errors %></div>
  <% } %>

