<!-- managements -->
<h1>Vehicle Management</h1>

<% if (message) { %>
  <div class="flash-message"><%= message %></div>
<% } %>

<div class="management-links">
  <ul>
    <li><a href="/inv/add-classification">Add New Classification</a></li>
    <li><a href="/inv/add-inventory">Add New Vehicle</a></li>
  </ul>
</div>


